# API y servidor web
fastapi==0.103.1
uvicorn[standard]==0.23.2
pydantic==2.4.2
python-multipart==0.0.6  # Para manejo de formularios y archivos
jinja2==3.1.2  # Para plantillas

# Seguridad y autenticación
passlib[bcrypt]==1.7.4  # Para hash de contraseñas
bcrypt>=4.0.0,<5.0.0  # Versión estable de bcrypt para compatibilidad
python-jose[cryptography]==3.3.0  # Para JWT
email-validator==2.0.0  # Para validación de emails en Pydantic

# Base de datos
sqlalchemy==2.0.21

# Procesamiento de datos
pandas==2.1.1
openpyxl==3.1.2  # Para manejo de archivos Excel

# Utilidades y herramientas 
python-dotenv==1.0.0  # Para variables de entorno
requests==2.31.0  # Para llamadas HTTP
pytest==7.4.2  # Para pruebas

